*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  max-width:100%;
  font-family: sans-serif;
  /* color: #ef9286; */


  /* border:1px solid grey; */
}

/*General Styles*/

@font-face{
  font-family: moskUltraBold;
  src: url('./assets/fonts/Mosk\ Ultra-Bold\ 900.ttf');
}

@font-face{
  font-family: moskBold;
  src: url('./assets/fonts/Mosk\ Bold\ 700.ttf');
}

@font-face{
  font-family: moskLight;
  src: url('./assets/fonts/Mosk\ Medium\ 500.ttf');
}

#root{
  height: 100vh;
}

html{
  font-size:62.5%;
}

body h1 {
  font-size: 6rem;
  color: #131F3E;
  font-family: moskUltraBold;
}

body p{
  font-family: moskBold;
}

a{
  color: #131F3E;
}

p{
  color: #131F3E;
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

button{
  background-color: transparent;
  font-family: moskBold;
  font-size: 1.8rem;
  padding: 1rem;
  margin-right: 4rem;
  margin-top: 2rem;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #131F3E;
  color: #131F3E;
}

i{
  color: white;
}

#btnScroll{
  position: fixed;
  right:15px;
  bottom:15px;
  width:50px;
  height:50px;
  border-radius: 50%;
  border: none;
  background: #413a49;
  color: white;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.25);
  outline: none;
  cursor: pointer;
}

#btnScroll:active{
  background: #2b2531;
}

/* header styles */
header {
  margin: 2%;
  height: 40px;
  color:hsl(224, 40%, 22%);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 95%;
}

header a {
  text-decoration: none;
  font-family: moskBold;
  font-size: 2rem;
  color: #D2D4D8;
  margin: 0 2rem 0 0;
}

header a:hover{
  color: #b7b6b9;
}

.logo {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-right: 4rem;
  font-family: moskUltraBold;
  color: #131F3E;
}


/* section one styles */
section.one {
  display: block;
  height: 85vh;
  max-width: 100%;
  margin-bottom: none;
}

.homeInfo {
  display: flex;
  height: 40vh;
}


.one {
  background-image: url('./assets/floatingdeskblue-01.svg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:cover;
  background-position: center;
  overflow: hidden;
}

.pageOneRight {
  width: 45%;
  padding: 12% 5rem 5rem 12rem;
  padding-bottom: 0;
  font-size: 2rem;
}

#home-text{
  font-size: 6rem;
  line-height: 6rem;
  padding-top: 1rem;
}

.outline{
  font-family: moskUltraBold;
  /* color: #ef9286;
  -webkit-text-fill-color: #645970; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ef9286; */
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #131F3E;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #ffffff;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* .homeBtns {
  display: flex;
  justify-content:flex-start;
} */

/* .homeBtns button{
  background-color: transparent;
  font-family: moskBold;
  font-size: 1.8rem;
  padding: 1rem;
  margin-right: 4rem;
  margin-top: 2rem;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #D2D4D8;
  color: #D2D4D8;
} */

#arrow {
  position: relative;
  top: 6rem;
  color: #D2D4D8;
  font-family: moskBold;
}

/* #arrow span{
  color: 334370;
} */


.pageOneRight h1 {
  font-size: 6rem;
  color: #D2D4D8;
}


.pageOneLeft {
  /* padding: 5rem; */
  /* background-image: url(/assets1/undraw_programmer_re_owql.svg); */
  background-repeat: no-repeat;
  background-position: 50% 25%;
  height: 80vh;
  width: 50%;
}
.pageOneLeft img {
  height: 300px;
  border-radius: 50%;
  padding: 5% 15% 0 0;
}

/* section two styles */

.two {
  padding: 15rem;
  background: #d6dbe9;
  display:flex;
  justify-content: space-between;
}

.two h1 {
  color:#131F3E;
}

.two p {
  font-size: 2rem;
  color: #404242;
}

.pageTwoLeft {
  margin-top: 5rem;
  align-self: flex-start;
  width: 40%;
}

.skillsContainer{
  display: flex;
  margin-top: 1rem;
}

.skillsContainer p{
  font-size: 1.4rem;
}

.skills{
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  width: 9rem;
  height: 9rem;
  /* background-color: #645970; */
  background-color: #334370;
}

.skills p{
  color: #D2D4D8;
  font-size: 1.7rem;
}



.pageTwoRight {
  margin-bottom: 5rem;
  align-self: flex-end;
  width: 40%;
}

/* section three styles */
.three {
  background: #f6f8fd;
}
.pageThreeLeft {
  width: 40%;
  padding: 8rem;
  /* align-self: flex-start; */
}
.pageThreeRight {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

/* .pageThreeLeft h1 {
  color:#d85544;
} */

.pageThreeLeft p {
  font-size: 2rem;
  color:#404242;
  font-family: moskBold;
}

.box{
  width:22rem;
  height: 22rem;
  background-color: #131F3E;
  /* border: 2px solid #080e1f; */
  margin: 1.2rem;
}

.projectIcon{
  width:100%;
  height: 70%;
  background-color: #eff4ff;
  display:flex;
  justify-content: center;
}

.projectIcon img{
  padding: 5.5rem;
}
.projectName{
  width:100%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
}

.projectName a{
  font-family: moskBold;
  text-decoration: none;
  text-align: center;
  color: #404242;
  font-size: 1.6rem;
  margin: 2rem;
}

.projectName a:hover{
  color:#3B33A0;
}




.box:hover {
  animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @keyframes shadow-pop-bl {
  0% {
    box-shadow: 0 0 #131F3E, 0 0 #131F3E, 0 0 #131F3E, 0 0 #131F3E, 0 0 #131F3E, 0 0 #131F3E, 0 0 #131F3E, 0 0 #131F3E;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px 1px #131F3E, -2px 2px #131F3E, -3px 3px #131F3E, -4px 4px #131F3E, -5px 5px #131F3E, -6px 6px #131F3E, -7px 7px #131F3E, -8px 8px #131F3E;
    transform: translateX(8px) translateY(-8px);
  }
}


/* section four styles */
.four {
  background: #f6f8fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.four p{
  font-size: 2rem;
  padding-bottom: 3rem;
  color:#8b8b8b;
}

.pageFourBox{
  background: hsl(0, 0%, 100%);;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  width: 90vw;
  height: 60vh;
}

.pageFourLeft {
  padding: 10rem 14rem 10rem 10rem;
  width: 40%;
  border-right: #334370 solid 2px;

}

.pageFourRight {
  padding-top: 11rem;
  padding-right: 3rem;
  width: 25%;
}

/* button.projects.hvr-sweep-to-right:before{
  background: #645970;
}

.four button {
  padding: 1rem;
  border: 2px solid #645970;
  background-color: transparent;
  color: hsl#645970;
} */

/* section five styles */

.five {
  background:#f6f8fd;
}

/* .pageFiveBox{
  background-color: aliceblue;
  padding: 10rem;
} */

.contact-title h3{
  font-size: 2rem;
}

.contact-info{
  display:flex;
  justify-content: space-between;
  padding: 1.5rem;
}

input {
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #737374;;
  background-color: transparent;
  color:rgb(163, 163, 163);
}

label{
  padding: 1rem;
  font-size: 1.3rem;
  color: #131F3E;
  font-family: moskBold;
  font-size: 1.8rem;
}

.contact-title{
  text-align: center;
}

.contact-title h3{
  color: #131F3E;
  padding-bottom: 2rem;
}


.contact-message{
  padding: 1.5rem;
  color:#737374;
}

#message {
  width: 
  800px;
}

#name {
  width:350px;
}

#email {
  width:350px;
}
.contact{
  display: block;
}

.contact-form{
  padding-top: 2rem;
}

/* .contact-btn{
  margin: 1rem;
  padding: .6rem;
  background-color: transparent;
  border: 1px solid hsl(224, 40%, 22%);
  text-align: center;
  width: 200px;
  color:hsl(224, 40%, 22%);
  font-size: 1.6rem;;

} */

.contactBtnCase{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer styles */
section.footer{
  flex-direction: column;
  padding: 0 20em;
  background-color: #131F3E;
  height: 30vh;
}

.footerContainer{
  width:100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  border-bottom: 1px solid #334370;
}

.footer p, .footer a{
  font-size: 1.6rem;
}

.footer a{
  display: block;
  text-decoration: none;
  margin-bottom: 1rem;
  font-family: moskLight;
  line-height: 9px;
  text-align: center;
  color:#45547e;
}

.footerHeader {
  font-family: moskUltraBold;
  margin-bottom: 1rem;
  color: #d6dbe9;
}

.footerGroup{
  margin: 0 2rem 2rem 2rem;
}

.footerBottom p{
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: start;
  color: #334370;
}

.footer a:hover{
  font-weight: bold;
  color: #d6dbe9;
}

.resume{
  width: 50%;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 5rem;
}

.resumeContainer{
  background-color: #f6f8fd;
}


/* pages general styles */
.sectionContainer{
   padding: 15rem 20rem 25rem 20rem;
   background-color: #f1f4fc;
   overflow:hidden;
}

.sectionTitle{
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
}

/* writing page styles */

.writingBottom{
  margin: 5rem;
  border-top: 1px solid #131F3E;
  /* margin: 0 auto; */
}

.article{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
  padding: 2rem;
  background-color: #eaeef8;
}

.article:hover{
  background-color: #dde3f1;
  cursor: pointer;
  
}

.article-date{
  font-family: moskLight;
  font-size: 1.6rem;
  color: #45547e;
}

.article-name{
  font-size: 3rem;
}

.article-details{
  font-family: moskLight;
  font-size: 2rem;
}

/* project page styles */

.projectItem{
  width: 30%;
  background-color: #dde1ee;
  margin: 1.5rem;
}

.projectItem h1{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.projectItem p{
  font-size: 1.6rem;
}

.projectItem a{
  font-family: moskLight;
}


.projectDetails{
  padding: 3rem;
}

.projectContainer{
  margin-top: 3rem;
  display:flex;
  flex-wrap: wrap;
}

.projectLinks{
  display:flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

.projectLinks a{
  color: #b6c0df;
  text-decoration: none;
  font-family: moskBold;
  padding-top: 1rem;
}

.projectLinks a:hover{
  color: #131F3E;
}

/* about styles */
.about{
  height: 100vh;
}

.aboutContainer{
  display:flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 8rem 5rem 5rem 5rem;
}

.aboutContainer img{
  height: 40rem;

  margin-right: 3rem;
}

.aboutContainer h1{
  font-size: 4rem;
  margin-bottom: 2rem;
}

.aboutContainer p{
  font-size: 2rem;
}

.aboutText p{
  margin-top: 2rem;
}

.aboutText a{
  font-family: inherit;
  color: rgb(45, 18, 168);
  text-decoration: none;
}



